<template>
  <v-app>
    <v-content>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-12">
              <v-toolbar color="primary" dark flat>
                <v-toolbar-title>Login</v-toolbar-title>
                <v-spacer />
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    v-model="model.login"
                    label="Login"
                    name="login"
                    prepend-icon="mdi-account"
                    type="text"
                  />
                  <v-text-field
                    v-model="model.password"
                    id="password"
                    label="Password"
                    name="password"
                    prepend-icon="mdi-lock"
                    type="password"
                  />
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn color="primary" @click="submit">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import service from "./loginService";

export default {
  data() {
    return {
      model: {
        login: null,
        password: null
      }
    };
  },
  methods: {
    submit() {
      service.login(this.model).then(response => {
        console.log("TCL: submit -> response", response);
      });
    }
  }
};
</script>
