<template>
  <div class="photocard-container">
    <v-img :src="src" :aspect-ratio="4/3" @click.native="dialog = true" />
    <v-dialog v-model="dialog">
      <v-card>
        <div class="image-container">
          <div class="image-wrapper">
            <img :src="src" class="image" />
          </div>
        </div>
        <!-- <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialog = false">
            <v-icon>mdi-cloud-download</v-icon>
          </v-btn>
        </v-card-actions> -->
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: "PhotoCard",
  props: {
    src: String
  },
  data() {
    return {
      dialog: false
    };
  }
};
</script>

<style lang="scss" scoped>
.photocard-container {
  cursor: pointer;
}
.image-container {
  height: calc(100vh - 118px);
  display: flex;
}
.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
</style>