<template>
  <v-app>
    <v-app-bar>
      <v-toolbar-title>Photos</v-toolbar-title>
    </v-app-bar>
    <v-layout>
      <v-container>
        <v-card>
          <v-card-title>Card</v-card-title>
          <v-card-text>Card text</v-card-text>
        </v-card>
        <v-row align="center" justify="center">
          <v-col v-for="(item, index) in items" :key="index" cols="12" sm="6" md="3">
            <photo-card :src="item.url" />
          </v-col>
        </v-row>
      </v-container>
    </v-layout>
  </v-app>
</template>

<script>
import PhotoCard from "../../components/PhotoCard.vue";
import service from "./photosService";

export default {
  components: { PhotoCard },
  data() {
    return {
      items: []
    };
  },
  created() {
    service.get().then(response => {
      this.items = response.data;
    });
  }
};
</script>